<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayGround</title>
    <style>

        #box{
            background-color: {{var_color}};
        }
        
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        {% for i in range(var_num): %}
            <div id="box"></div>
        {% endfor %}
  
    </div>
</body>
</html>